.navbar{
    
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium';
    background-color: rgb(88, 32, 32);
    color: white;
    height: 70px;
    width: auto;

    box-shadow: 0px 2px #0c0101;

}
